.cart-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  
}

.page-title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.cart-layout {
  display: grid;
  grid-template-columns: 1fr 300px; 
  gap: 2rem;
  align-items: start;
}

@media (max-width: 768px) {
  .cart-layout {
    grid-template-columns: 1fr; 
  }
}

/* Lista de Items */
.cart-items-container {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  padding: 1rem;
  color: #ffffff; 
  
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 1.5rem 0;
  border: 1px solid #8a2ddc;
  border-radius: 8px;
  gap: 1rem;
}



.cart-item__img-box img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
}

.cart-item__details {
  flex: 1;
}

.cart-item__title {
  margin: 0;
  font-size: 1.1rem;
}

.cart-item__platform {
  color: #888;
  font-size: 0.9rem;
  margin: 0.2rem 0;
}

.btn-delete {
  background: none;
  border: none;
  color: #e74c3c;
  font-size: 0.8rem;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

/* Botones + y - */
.cart-item__controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 4px;
  padding: 0.2rem;
}

.cart-item__controls button {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.cart-item__controls span {
  min-width: 20px;
  text-align: center;
  font-weight: bold;
}

.cart-item__price {
  font-weight: bold;
  font-size: 1.2rem;
  min-width: 80px;
  text-align: right;
}

/* Parte Derecha */
.cart-summary {
  padding: 1.5rem;
  border: 2px solid #8a2ddc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  color: #ffffff;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.btn-checkout {
  width: 100%;
  padding: 1rem;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-checkout:hover {
  background-color: #219150;
}