:root {
  --header-bg: #2E003E; 
  --header-bg-gradient: #4a0063; 
  --text-white: #ffffff;
  --search-bg: rgba(255, 255, 255, 0.15); 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  
  background: linear-gradient(to right, var(--header-bg), var(--header-bg-gradient));
  
  color: var(--text-white);
  position: relative;
  z-index: 1001; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
}

.header-left, .header-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.header-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.header-search {
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  border-radius: 50px; 
  border: 1px solid rgba(255, 255, 255, 0.2); 
  background-color: var(--search-bg);
  color: white;
  outline: none;
  transition: all 0.3s ease;
}

.header-search::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.header-search:focus {
  background-color: rgba(255, 255, 255, 0.25);
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(169, 101, 255, 0.5); 
}

.header-cart, .logo a {
  text-decoration: none;
  color: var(--text-white);
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}
.header-icon-link {
  text-decoration: none;
  color: var(--text-white);
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 1.1rem;
  margin-left: 20px; 
  transition: transform 0.2s;
}

.header-icon-link:hover {
  transform: scale(1.1);
  color: #ffcc00;
}
.header-cart:hover, .logo:hover {
  opacity: 0.9;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Filtros */
.filter-container {
  position: relative;
  margin-left: 15px;
}

.filter-toggle-btn {
  background: transparent;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.filter-toggle-btn:hover,
.filter-toggle-btn.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 999;
  backdrop-filter: blur(3px); 
}